/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */


/******************************************
/* LAYOUT
/*******************************************/
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary: #000000;
  --secondary: #FFE81F;
  --dark: #212121;
  --light: #f3f3f3;

}

* {
  margin: 0;
  padding: 0;
}



body {
  background-color: rgb(16, 20, 28,.92);
  color: black;
  font-size: 62.5%;
  font-family: Starjedi, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}



@font-face {
  font-family: 'Starjedi';
  src: url(../starjedi/Starjedi.ttf);
}

.handle {
  width: 100px;
  height: 200px;
  background-color: #FFE81F;
  z-index: 10;
  border-radius: 16px;
  cursor: pointer;
  margin: 200px auto 0;
  color: black;
  transition: background-color 150ms ease-in-out;
  border: none;
}

.fa-solid {
  transition: transform 150ms ease-in-out;
}

.handle:hover .fa-solid,
.handle:focus .fa-solid{
  transform: scale(1.1);
  color: white;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 

}

.left-handle:hover::after {
  content: \f053;
}

.right-handle:hover::after {
  content: \f054;
}


.handle:hover {
  background-color: rgba(0,0,0,0.25);
}

.cards {
  --cards-index:0;
  position: relative;
  margin: 0 .25rem;
  gap: 50px;
  width: 90%;
  display: flex;
  transform: translateX(calc(var(--cards-index) * -100%));
}

.card {
  margin: 100px auto 0;
  width: 850px;
  height: 600px;
  perspective: 1000px;
}

.card:hover {
  transition: transform 150ms ease-in-out;
  transform: scale(1.1)
}




.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.card__face--front h2 {
  color: white;
  font-size: 1rem;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50%;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #EFF;
  object-fit: cover;

}

.card__header h2 {
  color: #EFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.5;
}



 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
